<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INVOKE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>src/main/java/org/psk/lab/logs/kavapp_logs.log</file>
        <createDirs>true</createDirs>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>src/main/java/org/psk/lab/logs/kavapp_logs-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <createDirs>true</createDirs>
    </appender>

    <logger name="org.psk.lab.util.interceptor.LogInvocationsInterceptor"
            level="INFO" additivity="false">
        <appender-ref ref="INVOKE_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
